<script>
  import { displayModeStore } from "./stores";

  const setDisplay = display => {
    $displayModeStore = display;
    localStorage.setItem('displayChapters', display);
  }
</script>

<div class="display-mode-toggler">
  <button on:click={() => setDisplay('list')} disabled={$displayModeStore === "list"}
    >List</button
  ><button on:click={() => setDisplay('grid')} disabled={$displayModeStore === "grid"}
    >Grid</button
  >
</div>

<style>
  div {
    margin-bottom: 1em;
  }

  button {
    margin-right: 0.5em;
  }
</style>
