<script>
  import { displayModeStore } from "./stores";
  export let chaptersData = [];
  let showTagsAsTooltip =
    JSON.parse(localStorage.getItem("showTagsAsTooltip")) ?? false;

  const toggleTagDisplay = () => {
    showTagsAsTooltip = !showTagsAsTooltip;
    localStorage.setItem(
      "showTagsAsTooltip",
      JSON.stringify(showTagsAsTooltip)
    );
  };
</script>

{#if $displayModeStore === "grid"}
  <button on:click={toggleTagDisplay}
    >{showTagsAsTooltip ? "Show all tags" : "Show tags as tooltip"}</button
  >
  <div class="grid-view">
    {#each chaptersData as chapterData}
      <div class="grid-item">
        {#await chapterData.getSrc}
          Waiting for image...
        {:then src}
          <figure>
            <a href={chapterData.chapterLink}><img {src} alt="thumbnail" /></a>
          </figure>
        {/await}
        <a href={chapterData.chapterLink} class="name">{chapterData.title}</a>
        {#if chapterData.authorLink}
          <a href={chapterData.authorLink}>{chapterData.author}</a>
        {/if}
        {#if chapterData.doujinLink}
          <a href={chapterData.doujinLink}>{chapterData.doujinLink.innerText}</a
          >
        {/if}
        {#if !showTagsAsTooltip}
          {#each chapterData.tags as tag}
            <a href={tag.link} class="label">{tag.name}</a>
          {/each}
        {:else if chapterData.tags.length}
          <div class="tag-tooltip">
            {#each chapterData.tags as tag}
              <a href={tag.link} class="label">{tag.name}</a>
            {/each}
          </div>
        {/if}
      </div>
    {/each}
  </div>
{/if}

<style>
  button {
    margin-bottom: 1em;
  }

  .grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .grid-item {
    position: relative;
  }

  .name {
    font-weight: bold;
  }

  .label {
    margin-right: 0.3em;
  }

  figure {
    max-height: 300px;
    overflow: hidden;
    margin: 0;
  }

  .tag-tooltip {
    position: absolute;
    top: 0;
    display: none;
    transform: translateY(-100%);
    border: 0.1em solid #003366;
    border-radius: 0.3em;
    background: white;
    padding: 0.4em;
    padding-right: 0.1em;
  }

  .grid-item:hover .tag-tooltip {
    display: block;
  }
</style>
