<script>
  import { onMount } from "svelte";
  export let src;
  let thumbnailShow;

  onMount(() => {
    thumbnailShow.parentNode.addEventListener("mouseover", () => {
      thumbnailShow.style.marginTop = "-2%";
      const thumbnailShowRect = thumbnailShow.getBoundingClientRect();
      const amountOver =
        thumbnailShowRect.y +
        thumbnailShowRect.height +
        50 -
        window.innerHeight;
      if (amountOver > 0) {
        thumbnailShow.style.marginTop = "-" + amountOver + "px";
      }
    });
  });
</script>

<div class="show-thumbnail" bind:this={thumbnailShow}>
  <img {src} alt="thumbnail" />
</div>

<style>
  .show-thumbnail {
    display: none;
    position: absolute;
    left: -27%;
    margin-top: -2%;
    pointer-events: none;
  }

  img {
    max-width: 20%;
  }

  :global(dd:hover .show-thumbnail) {
    display: block;
  }
</style>
